<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}{{message.tags}}{% endif %}
            {{message}}
        {% endfor %}
    {% endif %}

    <h1>Profile Page</h1>
    <div>username: {{user.username}}</div> <br>
    <div>Name: {{user.first_name}}</div> <br>
    <div>Total Messages sent: {{total_messages_sent}}</div> <br>
    {% comment %} <div>Total messages send in Public chat: {{total_messages_sent}}</div>  {% endcomment %}
    <br><br>
    <a href="{% url 'logout' %}">Click here to Logout</a>
</body>
</html>
